{% extends 'home.html' %}
{% load static %}
{% block content %}

    <img src= "{% static 'img/pessoacomputador.jpg' %}"alt="">
    
    <div id="hoje">

    </div class="oi">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada eros lorem, nec commodo justo.
    Duis semper feugiat turpis, sed commodo nisi semper et. Maecenas et elit leo. Duis posuere elementum nulla vitae tempor.
    Ut ut quam non odio dapibus facilisis. Nulla sagittis libero in felis consectetur ac consectetur erat accumsan.
    Maecenas ut velit vel dui viverra vestibulum id a nunc. Praesent quis condimentum enim. Curabitur vel risus lectus, ut viverra lorem. Aliquam erat volutpat.
    Praesent ac sem placerat odio cursus luctus. Aenean et turpis orci, non pulvinar ligula.
    Fusce non purus et justo commodo volutpat non sed nisi. Etiam vitae mi velit. <div>

    
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada eros lorem, nec commodo justo.
    Duis semper feugiat turpis, sed commodo nisi semper et. Maecenas et elit leo. Duis posuere elementum nulla vitae temporUt ut quam non odio dapibus facilisis. Nulla sagittis libero in felis consectetur ac consectetur erat accumsan.
    Maecenas ut velit vel dui viverra vestibulum id a nunc. Praesent quis condimentum enim. Curabitur vel risus lectus, ut viverra lorem. Aliquam erat volutpat.
    Praesent ac sem placerat odio cursus luctus. Aenean et turpis orci, non pulvinar ligula.
    Fusce non purus et justo commodo volutpat non sed nisi. Etiam vitae mi velit.</div>

    <div>
 {%end block%}